root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[/Samples/**/src/**]
indent_size = 4

[*.gradle]
indent_size = 4

[CMakeLists.txt]
indent_size = 2

[*.{bat,rc}]
end_of_line = crlf

[*.bat]
charset = unset
