# Core directory files
/Core/**/*.a
/Core/**/*.bundle
/Core/**/*.dll
/Core/**/*.dylib
/Core/**/*.lib
/Core/**/*.so

# Sample build directories
/Samples/**/build/
# HarmonyOS files
Samples/OpenGL/Demo/proj.harmonyos.cmake/Full/entry/src/main/resources/rawfile/
# Sample third party files
/Samples/**/thirdParty/*
!/Samples/**/thirdParty/scripts/
!/Samples/**/thirdParty/stb/
# Other files
/build/
.vs/
.vscode/
.idea/
*.iml
.DS_Store
