# Core directory files
/Core/**/*.a
/Core/**/*.bundle
/Core/**/*.dll
/Core/**/*.dylib
/Core/**/*.lib
/Core/**/*.so

# Sample build directories
/Samples/**/build/
# Sample third party files
/Samples/**/thirdParty/*
!/Samples/**/thirdParty/scripts/*
!/Samples/OpenGL/thirdParty/stb/*
!/Samples/Metal/thirdParty/stb/*
!/Samples/Vulkan/thirdParty/stb/*
# Other files
/build/
.vs/
.vscode/
.idea/
*.iml
.DS_Store
