# Core directory files
/Core/**/*
!/Core/**/*.md
!/Core/**/*.txt
# Sample build directories
/Samples/**/build/
# Sample third party files
/Samples/**/thirdParty/*
!/Samples/**/thirdParty/scripts/
!/Samples/OpenGL/thirdParty/stb/
# Other files
.vs/
.vscode/
.idea/
*.iml
.DS_Store
